{% extends 'index.html' %}
{% block 'body' %}
<p><big><em>We&#39;ve got some buyers who need a house... actually, We&#39;ve got over 100 buyers who want a house.</em></big></p>

<p><big>We are real estate investors who advertise to find people who want to lease option our houses. Well... our marketing worked amazingly well and we found a lot more buyers than we had houses to sell. So... we wanted to find a way to help these folks find a home and to make a little money on all the work We&#39;ve done to find them and qualify them... so we set up this quick web page and started calling landlords like you in the area.</big></p>

<p><big>Our buyers want to live in the area, but don&#39;t qualify for a mortgage right now. That means they would be buying from you Rent To Own. They can afford the monthly payment and will qualify within 1 or 2 years. We had every one of them talk to a mortgage broker before we put them on the list... we wanted to know exactly how long it would take them before they did qualify and could take out a new loan and pay off the house.</big></p>

<p><big>These buyers will also give you full market value for your house and full market rent during the lease period&hellip; sometimes a little bit more than that. In addition to that, they tend to take care of the property better than a normal tenant because they see it as their property. Also , you will have a written agreement with them that makes them responsible for repairs to the house. So if the furnace goes out they have to fix it, or if the toilet stops up, they don&#39;t call you in the middle of the night. This saves a lot of landlord headaches.</big></p>

<p><big>If the worst happens and they default, they lose their option and you can evict them. The beauty is that the percentage of evictions on this type of sale is way below normal tenant eviction rates... so it&#39;s a lot safer.</big></p>

<p><big>By the way, none of this costs you a dime. We are paid by the buyer. As far as price goes... It doesn&#39;t really matter to us how much you want for it, but if we put it much over market value, we won&#39;t be able to find a buyer. But there is no reason we shouldn&#39;t be able to get you full market value or maybe a little more because the way we are selling it. Our buyers are pretty motivated.</big></p>

<p><big>So... if you are interested, please let us know. We can talk in person and we&#39;ll answer any of your questions. As soon as you give us the okay, we&#39;ll send out an email to our list about your house. We have sold houses in one day with this list, so don&#39;t be surprised if things happen pretty fast, after you give us the okay. Let us know what you think. Fill out the form here.</big></p>

<p><big>Whatever you decide, Best Wish&#39;s ,&nbsp;</big></p>

<p><big>Bill and Dan , Realoption Homes LLC.</big></p>
{% endblock %}

